body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

* {
  font-family: "Kanit", sans-serif;
}

/* ===== TOPBAR ===== */
.topbar {
  background: #004aad;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
  font-size: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* LOGIN INLINE */
.login-inline {
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-inline input {
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.login-inline button {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* ===== LAYOUT ===== */
.layout {
  display: flex;
  height: calc(100vh - 80px);
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 260px;
  background: #004aad;
  padding: 20px;
  margin : 20px;
  border-radius: 30px;
}

.sidebar button {
  width: 100%;
  padding: 18px;
  margin-bottom: 18px;
 
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

/* ===== MAP AREA ===== */
.map-area {
  flex: 1;
  background: #fffaf0;
  margin: 20px;
  border-radius: 40px;
  border: 3px solid #004aad;
  position: relative;
}

/* ===== LEGEND ===== */
.legend {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  padding: 25px 50px;
  border-radius: 25px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: bold;
}

.legend div {
  margin: 10px 0;
}

/* DOT COLORS */
.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.green { background: green; }
.yellow { background: gold; }
.red { background: red; }
.blue { background: dodgerblue; }
.gray { background: gray; }

/* ===== BUILDINGS ===== */
.building {
  position: absolute;
  border-radius: 35px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);

  background: green;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.25s;
}

.building:hover {
  transform: scale(1.08);
}

/* อาคารที่ถูกเลือก */
.building.selected {
  outline: 6px solid white;
  transform: scale(1.12);
}

/* POSITIONS */
#roomสุพรรณิกา {
  width: 170px;
  height: 220px;
  top: 50px;
  left: 60px;
}

#roomศูนย์ภาษา {
  width: 600px;
  height: 160px;
  top: 50px;
  left: 270px;
}

#roomพุทธรักษา {
  width: 180px;
  height: 160px;
  top: 50px;
  right: 60px;
}

#roomลีลาวดี {
  width: 170px;
  height: 230px;
  bottom: 50px;
  left: 60px;
}

#roomปาริชาติ {
  width: 180px;
  height: 160px;
  top: 230px;
  right: 60px;
}

#roomคลินิกเสมารักษ์ {
  width: 180px;
  height: 160px;
  bottom : 50px;
  right: 60px;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.popup-box {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-box input {
  width: 90%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
}

.popup-buttons button {
  padding: 10px 18px;
  margin: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.popup-buttons button:first-child {
  background: green;
  color: white;
}

.popup-buttons button:last-child {
  background: red;
  color: white;
}

body {
  font-family: "Kanit", "Prompt", sans-serif;
}

